# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

.gitignore
scanner/__pycache__/forms.cpython-37.pyc
scanner/forms.py
scanner/migrations/0001_initial.py
scanner/migrations/0002_auto_20200328_2100.py
scanner/migrations/0003_auto_20200328_2101.py
scanner/migrations/0004_edit_overdue_charges.py
scanner/migrations/0005_auto_20200329_0755.py
scanner/migrations/0006_auto_20200329_0846.py
scanner/migrations/0007_auto_20200329_0848.py
scanner/migrations/0008_auto_20200331_2147.py
scanner/migrations/0009_auto_20200401_0816.py
scanner/migrations/0010_auto_20200401_0843.py
scanner/migrations/0011_auto_20200401_0849.py
scanner/migrations/__pycache__/0001_initial.cpython-37.pyc
scanner/migrations/__pycache__/0002_auto_20200328_2100.cpython-37.pyc
scanner/migrations/__pycache__/0002_book_remaining_days.cpython-37.pyc
scanner/migrations/__pycache__/0003_auto_20200328_0657.cpython-37.pyc
scanner/migrations/__pycache__/0003_auto_20200328_2101.cpython-37.pyc
scanner/migrations/__pycache__/0003_remove_book_remaining_days.cpython-37.pyc
scanner/migrations/__pycache__/0004_auto_20200328_0658.cpython-37.pyc
scanner/migrations/__pycache__/0004_book_rem_days.cpython-37.pyc
scanner/migrations/__pycache__/0004_edit_overdue_charges.cpython-37.pyc
scanner/migrations/__pycache__/0005_auto_20200328_0659.cpython-37.pyc
scanner/migrations/__pycache__/0005_auto_20200329_0755.cpython-37.pyc
scanner/migrations/__pycache__/0005_remove_book_returning_date.cpython-37.pyc
scanner/migrations/__pycache__/0006_auto_20200328_0700.cpython-37.pyc
scanner/migrations/__pycache__/0006_auto_20200328_1954.cpython-37.pyc
scanner/migrations/__pycache__/0006_auto_20200329_0846.cpython-37.pyc
scanner/migrations/__pycache__/0007_auto_20200328_0707.cpython-37.pyc
scanner/migrations/__pycache__/0007_auto_20200329_0848.cpython-37.pyc
scanner/migrations/__pycache__/0007_book_returning_date.cpython-37.pyc
scanner/migrations/__pycache__/0008_auto_20200328_0709.cpython-37.pyc
scanner/migrations/__pycache__/0008_auto_20200328_2017.cpython-37.pyc
scanner/migrations/__pycache__/0008_auto_20200331_2147.cpython-37.pyc
scanner/migrations/__pycache__/0009_auto_20200328_0710.cpython-37.pyc
scanner/migrations/__pycache__/0009_auto_20200328_2027.cpython-37.pyc
scanner/migrations/__pycache__/0009_auto_20200401_0816.cpython-37.pyc
scanner/migrations/__pycache__/0010_auto_20200328_2028.cpython-37.pyc
scanner/migrations/__pycache__/0010_auto_20200401_0843.cpython-37.pyc
scanner/migrations/__pycache__/0010_remove_book_remaining_days.cpython-37.pyc
scanner/migrations/__pycache__/0011_auto_20200328_2030.cpython-37.pyc
scanner/migrations/__pycache__/0011_auto_20200401_0849.cpython-37.pyc
scanner/migrations/__pycache__/0011_book_remaining_days.cpython-37.pyc
scanner/migrations/__pycache__/0012_auto_20200328_0715.cpython-37.pyc
scanner/migrations/__pycache__/0012_auto_20200328_2031.cpython-37.pyc
scanner/migrations/__pycache__/0013_auto_20200328_0720.cpython-37.pyc
scanner/migrations/__pycache__/0013_auto_20200328_2034.cpython-37.pyc
scanner/migrations/__pycache__/0014_auto_20200328_0733.cpython-37.pyc
scanner/migrations/__pycache__/0014_auto_20200328_2035.cpython-37.pyc
scanner/migrations/__pycache__/0015_auto_20200328_0735.cpython-37.pyc
scanner/migrations/__pycache__/0015_auto_20200328_2036.cpython-37.pyc
scanner/migrations/__pycache__/0016_auto_20200328_2037.cpython-37.pyc
scanner/migrations/__pycache__/0016_remove_book_remaining_days.cpython-37.pyc
static/img/abdurrahaman.jpg
static/img/ysu.jpg
static/img/ysu2.jpg
templates/base.html
templates/base/
templates/scanner/404.html
templates/scanner/addBook.html
templates/scanner/search_result.html
templates/scanner/buttons.html
templates/scanner/cards.html
templates/scanner/charts.html
templates/scanner/forgot-password.html
templates/scanner/index.html
templates/registration/login.html
templates/scanner/register.html
templates/scanner/students_list.html
templates/scanner/tables.html
templates/scanner/user_profile.html
templates/scanner/utilities-animation.html
templates/scanner/utilities-border.html
templates/scanner/utilities-color.html
templates/scanner/utilities-other.html
templates/test app/
venv/Include/
