{% load static %}

  <!-- Optional JavaScript -->
  <!-- Custom scripts for all pages-->

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}" media="screen"></script>
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}" media="screen"></script>

  <script src="{% static 'js/popper.min.js' %}" media="screen"></script>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'js/bootstrap.min.js' %}" media="screen"></script>
  <script src="{% static 'js/sb-admin-2.min.js' %}" media="screen"></script>
  <!-- Page level plugins -->
  <script src="{% static 'vendor/chart.js/Chart.min.js' %}" media="screen"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/demo/chart-area-demo.js' %}" media="screen"></script>
  <script src="{% static 'js/demo/chart-pie-demo.js' %}" media="screen"></script>
