{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>List of all registered books (Interval = 14 days)</h1>
<hr>
{% for book in books %}
<div class="card">
    <h5 class="card-header">Book information</h5>
    <div class="card-body">
        <!-- <h5 class="card-title">Student information</h5> -->
        <li>Title : {{ book.title }}</li>
        <li>Borrowed_by : {{ book.borrowed_by }}</li>
        <li>Issued_date : {{ book.issued_date }}</li>
        <li>Returning_date : {{ book.returning_date }}</li>
        <br>
        <a href="#" class="btn btn-primary">Add Book</a>
    </div>
</div>
<br>
{% empty %}
<div class="card">
    <h5 class="card-header" style="text-align: center;">No book has been added yet</h5>
</div>
{% endfor %}

{% endblock content %}