{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>List of all registered students {{total_students}}</h1>
<hr>
{% for student in students %}
<div class="card">
    <h5 class="card-header">Student information</h5>
    <div class="card-body">
        <!-- <h5 class="card-title">Student information</h5> -->
        <li>Name : {{ student.first_name }} {{ student.second_name }}</li>
        <li>Level: {{ student.level }}</li>
        <li>Year of Admission : {{ student.year_of_admission }}</li>
        <li>Registered on : {{ student.registered_date }}</li>
        <br>
        <a href="#" class="btn btn-primary">view profile</a>
    </div>
</div>
<br>
{% endfor %}

{% endblock content %}